<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharebackend.mapper.CarMapper">
    <insert id="insertCar" parameterType="Car" useGeneratedKeys="true" keyProperty="idx">
        insert into car (corporation, model_name, car_type, model_year, few_seats, gear_type)
        values (#{corporation}, #{modelName}, #{carType}, #{modelYear}, #{fewSeats}, #{gearType})
    </insert>
</mapper>