<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharebackend.mapper.CarMapper">
    <insert id="insertCar" parameterType="com.example.sharebackend.domain.Car" useGeneratedKeys="true" keyProperty="idx">
        insert into car (corporation, model_name, car_type, model_year, few_seats, gear_type)
        values (#{corporation}, #{modelName}, #{carType}, #{modelYear}, #{fewSeats}, #{gearType})
    </insert>
    <!-- idx 해당 차 정보 조회 -->
    <select id="findCarByIdx" resultType="Car">
        select * from car where idx = #{idx}
    </select>

    <!-- query에 검색 및 총 갯수 -->
    <select id="findAllCars" resultType="com.example.sharebackend.domain.Car" >
        select * from car
        where corporation like concat('%', #{query}, '%')
        or model_name like concat('%', #{query}, '%')
        or car_type like concat('%', #{query}, '%')
        or model_year like concat('%', #{query}, '%')
    </select>
    <select id="countAllCars" resultType="int">
        select count(*) from car
        where corporation like concat('%', #{query}, '%')
        or model_name like concat('%', #{query}, '%')
        or car_type like concat('%', #{query}, '%')
        or model_year like concat('%', #{query}, '%')
    </select>

    <!-- 차트용 데이터 -->
    <select id="ChartList" resultType="CarChartResultResponse">
        select car.idx, car.corporation, car.model_name, count(reservation.idx) as count
        from car
        join rental_offer on car.idx = rental_offer.car_idx
        join reservation on rental_offer.idx = reservation.rental_offer_idx
        where reservation_status = '사용완료'
        group by car.idx, car.corporation, car.model_name
    </select>

</mapper>