<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharebackend.mapper.ReservationMapper">
    <!-- 예약하기 -->
    <insert id="insertOne" parameterType="Reservation">
        insert into reservation (account_id, rental_offer_idx, start_date, end_date, reservation_status, payment_amount)
            values (#{accountId}, #{rentalOfferIdx}, #{startDate}, #{endDate}, true, #{paymentAmount})
    </insert>
    <!-- 해당 아이디 예약 기록 조회 -->
    <select id="selectListAll" parameterType="string" resultType="Reservation">
        select * from reservation
        join rental_offer on rental_offer.idx=#{} = reservation.rental_offer_idx
        join car on rental_offer.car_idx = car.idx; order by idx=#{idx} desc;;
    </select>

    <!-- 해당 아이디 예약 총 개수 -->
    <select id="selectAllCount" parameterType="string" resultType="Reservation">
        select count(*) from reservation where account_id=#{accountId};
    </select>

    <!-- 예약 중복 확인 -->
    <select id="existsReservation" resultType="int">
        select count(*)
        from reservation
        where rental_offer_idx = #{rentalOfferIdx}
        and reservation_status = true
        and start_date &lt; #{endDate}
        and end_date &gt; #{startDate}
    </select>


    <select id="selectById">
        select * from reservation
        join rental_offer on rental_offer.idx = reservation.rental_offer_idx
        join car on rental_offer.car_idx = car.idx;
    </select>

</mapper>