<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharebackend.mapper.ReviewMapper">
    <!-- 리뷰 작성 -->
    <insert id="insertOne" parameterType="Review">
        insert into review (reservation_idx, content, star_rating)
                values (#{reservationIdx}, #{content}, #{starRating})
    </insert>

    <!-- reservationIdx에 해당하는 모든 리뷰 조회  -->
    <select id="selectByReservationIdxList" resultType="Review">
        select * from review where reservation_idx=#{reservationIdx}
    </select>


    <!-- rentalOfferIdx에 해당하는 모든 리뷰 조회 -->
    <select id="selectByRentalOfferIdx" resultType="RentalOfferReviewListResponse">
        select account.nickname, review.*
        from review
        join reservation on review.reservation_idx = reservation.idx
        join account on reservation.account_id = account.id
        where reservation.rental_offer_idx = #{rentalOfferIdx}
    </select>
</mapper>